
.terminal-container {
    width: 100vw;
    height: 100vh;
    background: #959545;
}

.terminal-container h1 {
    text-align: center;
    padding: 50px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#terminal {
    display: block;
    width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: #000000;
    border-radius: 10px;
}

.xterm-viewport {
    overflow-y: auto !important;
}

.xterm-viewport::-webkit-scrollbar {
    width: 5px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background: #000;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
    background: #666;
}